/ZurichBDDProject/node_modules
/ZurichBDDProject/allure-report
/ZurichBDDProject/allure-results
/notes.txt
/webdriverio1.PNG
/webdriverio2.PNG
/webdriverio3.PNG
/webdriverio4.PNG
/webdriverio5.PNG
node_modules
